:root {
    /* Color */
    --clr-violett-100: hsl(270, 3%, 87%);
    --clr-violett-200: hsl(279, 6%, 55%);
    --clr-violett-500: hsl(278, 94%, 30%);
    --clr-violett-900: hsl(278, 68%, 11%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-red-500: hsl(0, 100%, 66%);
    --clr-blue-500: hsl(249, 99%, 64%);
    /* Font */
    --fs-100: 0.75rem;
    --fs-200: 0.8125rem;
    --fs-300: 0.875rem;
    --fs-400: 0.9375rem;
    --fs-500: 1rem;
    --fs-600: 1.125rem;
    --fs-700: 1.25rem;
    --fs-800: 1.5rem;
    --fs-900: 2rem;
    /* Margin */
    --mb-100: 1rem;
    --mb-200: 1.5rem;
    --mb-300: 2rem;
    --mb-400: 2.5rem;
    --mb-500: 3rem;
}

  /* Utility Class */

  .mb-100 {
    margin-bottom: var(--mb-100);
  }

  .mb-200 {
    margin-bottom: var(--mb-200);
  }

  .mb-300 {
    margin-bottom: var(--mb-300);
  }

  .mb-400 {
    margin-bottom: var(--mb-400);
  }

  .mb-500 {
    margin-bottom: var(--mb-500);
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 16px;
}

body {
    min-width: 375px;
    min-height: 100vh;
}

.visually-hidden {
    width: 1px;
    height: 1px;
    position: absolute;
    left: auto;
    top: 0;
    border: 0;
    overflow: hidden;
}

.app {
    min-height: 100vh;
    display: flex;
}

.card__displayer {
    width: 30%;
    min-height: 100vh;
    position: relative;
    background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20190221/ourmid/pngtree-click-buy-gesture-pay-image_19038.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.card {
    width: 17.8125rem;
    width: clamp(17.8125rem, 14.247359154929578rem + 15.211267605633802vw, 27.9375rem);
    height: 9.8125rem;
    height: clamp(9.8125rem, 7.875880281690141rem + 8.262910798122066vw, 15.3125rem);
    position: absolute;
    font-size: var(--fs-300);
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: var(--clr-white);
    border-radius: 0.625rem;
}

.card_front {
    padding: 2rem;
    left: 35%;
    top: 15%;;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTI4s4iiJE_cu6F2KC3mcHbhSluYIrOaicIZ49v4ikrMZ_NbHx-m5_Ba-Z8iTG2dLVhFs&usqp=CAU");
    background-size: cover;
}

.card__number {
  font-size: 1rem;
  font-size: clamp(1rem, 0.7359154929577465rem + 1.1267605633802815vw, 1.75rem);
  font-weight: normal;
}

.card_front p {
  font-size: 0.5625rem;
  font-size: clamp(0.5625rem, 0.3644366197183099rem + 0.8450704225352111vw, 1.125rem);
  display: flex;
  justify-content: space-between;
}

.card_back {
  left: 55%;
  top: 51%;
  background-image: url("../componenets/images/bg-card-back.png");
  background-size: contain;
}

.card_back img {
  max-width: 100%;
}

.card__cvc {
  position: absolute;
  top: 46%;
  left: 80%;
}

.form {
  width: 70%;
  padding-right: 10rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: var(--fs-100);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: var(--clr-violett-900);
}

.inputs__container {
  width: 50%;
  border: 0;
}

.thankyou__section {
  width: 40%;
  text-align: center;
  transform: translateX(-30%);
}

.input__area {
  padding-bottom: 2.2rem;
  position: relative;
}

.input__area label {
  display: block;
  margin-bottom: 0.4rem;
  font-weight: bold;
}

.input__area input {
  width: 100%;
  padding: 0.7rem;
  position: relative;
  display: inline-block;
  font-size: var(--fs-600);
  border: 2px solid var(--clr-violett-100);
  border-radius: 0.5rem;
}

.input__area input::placeholder {
  color: var(--clr-violett-200);
}

.input__area_group {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

input[name="Month"], input[name="Year"] {
  width: 45%;
}

input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
}

.error-message {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 15%;
  font-size: var(--fs-100);
  font-weight: bold;
  text-transform: none;
  letter-spacing: 0;
  color: var(--clr-red-500);
  visibility:hidden;
}

.input__area.error .error-message {
  visibility: visible;
}

.input__area.error input {
  border: 2px solid var(--clr-red-500);
}

.btn {
  display: block;
  font-size: var(--fs-600);
  letter-spacing: 0.1rem;
  border: 0;
  border-radius: 0.5rem;
  cursor: pointer;
}

.btn-submit {
  width: 100%;
  padding: 0.8rem;
  color: var(--clr-white);
  background-color: var(--clr-violett-900);
}

.btn-submit:disabled {
  background: grey;
}

#order_details{
  border: 1px solid gray;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: start;
  margin: 20px 0px;
}

@media screen and (max-width:1160px) {
  :root {
    /* Margin */
    --mb-100: 0.2rem;
    --mb-200: 0.7rem;
    --mb-300: 1.2rem;
    --mb-400: 1.7rem;
    --mb-500: 2.2rem;
  }

  .app {
    flex-direction: column;
  }

  .card {
    padding: 1rem;
  }

  .card__displayer, .form {
    width: 100%;
  }

  .card__displayer {
    min-height: 30vh;
  }

  .card__cvc {
    position: absolute;
    top: 46%;
    left: 74%;
  }

  .form {
    min-height: 120vh;
    padding-right: 0;
    justify-content: center;
    align-items: center;
  }

  .inputs__container {
    width: 70%;
  }

  .card_back {
    left: 35%;
    top: 20%;
  }

  .card_front {
    left: 20%;
    top: 60%;
    z-index: 1;
  }
}

@media screen and (max-width:480px) {
  .inputs__container {
    width: 90%;
  }

  .card_front {
    left: 8%;
    top: 70%;
    z-index: 1;
  }

  .card_back {
    left: 18%;
    top: 20%;
  }

  .thankyou__section {
    width: 90%;
    transform: translateY(-15%);
  }
}